h3 {
  font-size: medium !important;
  margin: 0.8em auto;
  background-color: white;
  padding: 0.8em;
  font-weight: bold;
  border-radius: 0.2em;
  box-shadow: 0 0rem 2rem 0 rgba(44, 51, 73, .1);
  font-family: Open Sans, sans-serif;
  color: rgba(0, 0, 0, 0.54);
  width: 95%;
}

.row {
  padding: 1.1rem;
}

mat-card {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 1%;
  border: 0 solid transparent;
  border-radius: .25rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, .1) !important;
}


img{
    width: 45%;
}


.mm{
  margin-left: 2rem;
  margin-right: 3rem;
}

.mat-elevation-z8 {
  border: 0 solid transparent;
  border-radius: .25rem;
}

td,
th {
  padding: 1% 1%;
  padding-right: 1.75rem;
  text-align: center;
  vertical-align: middle;
  font-family: Open Sans, sans-serif;
  border: 1px solid #CEEBED;
  color: rgba(0, 0, 0, 0.54);
  max-width: 12%;
  font-size: 12px !important;
  font-weight: bold;
}
td{
  font-size: 12px !important;
  word-wrap: break-word;
  font-weight: 600;
  vertical-align: middle;
}

::ng-deep td.mat-cell {
  border-radius: .25rem;
  color: rgba(0, 0, 0, 0.54);
  text-align: center;
  vertical-align: middle;
  font-family: Open Sans, sans-serif;
  font-size: .9375rem;
  border: 1px solid #CEEBED;
}

::ng-deep tr.mat-row:hover {
  background-color: aliceblue;
}


::ng-deep .mat-sort-header-container {
  display: flex;
  vertical-align: middle;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
}


.mat-row:nth-child(odd) {
  background-color: rgba(240, 248, 255, 0.89);
}

i{
  cursor: pointer;
}

.headerText{
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #edf1f7;
  border-top-left-radius: .17rem;
  border-top-right-radius: .17rem;
  color: #222b45;
  font-family: Open Sans,sans-serif;
  font-size: .9375rem;
  font-weight: 600;
  line-height: 1.5rem;
}
.pop1{
    /* max-width: 92%; */
    margin-left: 5rem;
    /* margin-top: 8rem; */
  }