.master-container {
  position: absolute;
  margin-top: 110px;
  width: 91%;
  max-width: 87%;
  left : 50%;
  transform: translateX(-50%);
}
 

table {
  width: 100%;
  table-layout: fixed;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

mat-card {
  padding: 2%;
}


input:hover {
  border-color: #007bff;
}

select:hover {
  border-color: #007bff;
}

textarea:hover {
  border-color: #007bff;
}


.table-icons {
  height: 24px;
  width: 24px;
}

.mat-table {
  box-shadow: none;
}

.mat-elevation-z8 {
  box-shadow: none;
}

.container {
  padding: 0;
  background-color: white;
  box-shadow: 0 0rem 2rem 0 rgba(44, 51, 73, .1);
  max-width: 100%;
  border-radius: 0.3rem;
  margin-left: 0;
}

.filter-row {
  width: 98%;
  margin: 1%;
  color: #192038;
  font-family: Open Sans, sans-serif;
  transition-duration: .15s;
  transition-property: border, background-color, color, box-shadow;
  transition-timing-function: ease-in;
  border: 0px;
  padding: 5px 13px;
  border-bottom: 2px solid #CEEBED;
}
.filter-row:focus{
  outline: none;
}


.dialog-col {
  border: 1px solid #CEEBED;
  padding: 1rem;
  border-radius: 0.3rem;
  background: transparent;
}

.dialog-row {
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 0 0rem 2rem 0 rgba(44, 51, 73, .1);
}

h4 {
  margin-top: 0;
}

tr.mat-header-row {
  background: none;
}

.dialog-row:hover {
  cursor: pointer;
}

.mat-elevation-z8 {
  box-shadow: none;
  padding: 1%;
}

.mat-elevation-z8 {
  margin-top: 10px;
  overflow: auto;
  padding: 1%;
}

::ng-deep th.mat-header-cell {
  z-index: 1;
  /* white-space: nowrap !important; */
}

::ng-deep .hide-arrow .mat-sort-header-arrow{
  display: none !important;
}

td {
  vertical-align: middle;
  text-align: center;
  padding-right: 1.75rem;
  font-family: Open Sans, sans-serif;
  border: 1px solid #CEEBED;
  color: rgba(0, 0, 0, 0.54);
  max-width: 15px !important;
  vertical-align: middle;
  text-align: center;
  padding: 1px !important;
  font-size: 12px !important;
  max-height: 5px !important;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

th {
  text-align: center !important;
  padding: 1% 1%;
  padding-right: 1.75rem;
  font-family: Open Sans, sans-serif;
  border: 1px solid #CEEBED;
  color: rgba(0, 0, 0, 0.54);
  max-width: 15px;
  vertical-align: middle;
  text-align: center;
  font-size: 12px !important;
  font-weight: bolder;
  max-height: 10px;
  overflow-y: hidden !important;
  overflow-x: hidden !important;  
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

h3{
  font-size: medium !important;
  margin: 0.8em auto;
  background-color: white;
  padding: 0.8em;
  font-weight: bold;
  border-radius: 0.2em;
  box-shadow: 0 0rem 2rem 0 rgba(44, 51, 73, .1);
  font-family: Open Sans, sans-serif;
  color: rgba(0, 0, 0, 0.54);
}

::ng-deep td.mat-cell {
  border-radius: .25rem;
  color: rgba(0, 0, 0, 0.54);
  padding-right: 1.75rem;
  font-family: Open Sans, sans-serif;
  font-size: .9375rem;
  border: 1px solid #CEEBED;
}

::ng-deep tr.mat-row:hover {
  background-color: aliceblue;
}


::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}


.mat-row:nth-child(odd) {
  background-color: rgba(240, 248, 255, 0.89);
}
