<div class="module-container master-container">
  <h3>SUBCOURSES
    <a style="float: right; text-decoration: underline; cursor: pointer;" (click)="openAddSubCourse()">ADD
      SUBCOURSES</a>
  </h3>

  <div *ngIf="editable=='true'" class="example-container">
    <mat-card>
      <p class="title">Add</p>
      <div class="row">
        <div class="col-6">
          <select [(ngModel)]="courseName" #ctrl="ngModel">
            <option [ngValue]="undefined" disabled> Course Name</option>
            <option [ngValue]="Item" *ngFor="let Item of CourseNameList">{{Item.name}}</option>
          </select>
        </div>

        <div class="col-6">
          <input type="text" [(ngModel)]="subCourseName" placeholder="Sub Course">
        </div>
        <div class="col-6">
          <button class='submit-btn-grp' (click)="addSubCourse()">Submit</button>
          <button class='submit-btn-grp' (click)="closeAddDialog()">Cancel</button>
        </div>
      </div>


    </mat-card>
  </div>

  <div *ngIf="EditEditable=='true'" class="example-container">
    <mat-card>
      <p class="title">Edit</p>
      <div class="row">
        <div class="col-6">
          <select [(ngModel)]="courseName" (change)="setCourseName()" #ctrl="ngModel">
            <option [ngValue]="undefined" disabled hidden> {{selectedCourseName}}</option>
            <option [ngValue]="Item" *ngFor="let Item of CourseNameList">{{Item.name}}</option>
          </select>
        </div>

        <div class="col-6">
          <input type="text" [(ngModel)]="subCourseName" placeholder="Sub Course">
        </div>
        <div class="col-6">
          <button class='submit-btn-grp' (click)="editSubCourse()">Submit</button>
          <button class='submit-btn-grp' (click)="closeEditDialog()">Cancel</button>
        </div>
      </div>


    </mat-card>
  </div>



  <div class="container">
    <div class="row" style="width: 100%; margin: 0 auto; padding: 0%;">
      <div class="col-sm-12">
        <input type="text" class="filter-row" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </div>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let row"> {{row.Name}} </td>
        </ng-container>

        <ng-container matColumnDef="Course">
          <th mat-header-cell *matHeaderCellDef> Course </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let row"> {{row.Status}} </td>
        </ng-container>

        <ng-container matColumnDef="Action">
          <th style="font-size: medium; padding-right: 0px; text-align: center;" mat-header-cell *matHeaderCellDef>
            Action </th>
          <td style="padding-right: 0px; white-space: normal !important;" mat-cell *matCellDef="let row"
            class="action-link">

            <mat-icon style="cursor: pointer; font-size: 20px;" (click)="eventAction(row, 'edit')" title="Edit">edit
            </mat-icon>

            <mat-icon style="cursor: pointer; font-size: 20px;" (click)="eventAction(row, 'delete')" title="Delete">delete_outline
            </mat-icon>

            <mat-icon style="cursor: pointer; font-size: 20px;" (click)="eventAction(row, 'setStatus')" title="Update Status">autorenew</mat-icon>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
