.shadow{
    height: 100px !important;
    margin: 10px !important;
}

.shadow2{
    height: 300px !important;    
    margin: 20px !important;
    width: auto !important;
}

.headerfont{
    font-size: 20px;font-weight: 500;
    
}


.normalfont{
    font-size: 16px;font-weight: 400;
}
.cardstyle{
    height: 330px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-color: rgb(124, 190, 216);
  }
th,tr{
    padding: 5px 0px 5px 20px !important;
}
table{
    margin-top: 5px;
}
  