.master-container {
  position: absolute;
  margin-top: 110px;
  width: 91%;
  max-width: 87%;
  left : 50%;
  transform: translateX(-50%);
}

.title {
  margin-top: 1%;
  font-size: larger;
  border-bottom: 1px solid #CEEBED;

}

.module-container {
  padding: 2%;
  width: 95%;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 0rem 2rem 0 rgba(44, 51, 73, .1);
  margin-bottom: 2rem;
}


.form-container {
  width: 100%;
  border-radius: 0.2em;
  margin: 0 auto;
}

::placeholder {
  color: rgb(0, 0, 0);
}

::-ms-input-placeholder {
  color: rgb(0, 0, 0);
}

table {
  margin-top: 3%;
  width: 100%;
}

th.mat-header-cell {
  text-align: center;
}



td.mat-cell {
  text-align: center;
}

.mat-table {
  box-shadow: none;
}

.mat-elevation-z8 {
  box-shadow: 0 0rem 2rem 0 rgba(44, 51, 73, .1);
}


input:hover {
  border-color: #007bff;
}

input,
select {
  padding: 7px 18px;
  width: 100%;
  border-radius: .25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #192038;
  background-color: #f7f9fc;
  font-family: Open Sans, sans-serif;
  transition-duration: .15s;
  transition-property: border, background-color, color, box-shadow;
  transition-timing-function: ease-in;
  border: 1px solid #CEEBED;
  height: 2.5rem;
}

mat-card {
  margin-top: 2rem;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 1%;
}

h3 {
  font-size: medium !important;
  margin: 0.8em auto;
  background-color: white;
  padding: 0.8em;
  font-weight: bold;
  border-radius: 0.2em;
  box-shadow: 0 0rem 2rem 0 rgba(44, 51, 73, .1);
  font-family: Open Sans, sans-serif;
  color: rgba(0, 0, 0, 0.54);
  width: 95%;
}