<div class="master-container1 container p-0 ">
  <div class="card-header">EXAM VIEW</div>
<div class="container-fluid mt-0 p-0">


  <div class="col-lg-12 col-md-12 col-sm-12 card">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 search123">
        <mat-form-field class="search-form-field" floatLabel="never">
          <input  id="search" matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
          
        </mat-form-field>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 text-right">
        <div class="btn-group float-right mt-2" role="group" aria-label="Basic example "  >
          <button type="button" class="btnCSS submitButton" (click)="open(content)"  [disabled]="selection.selected.length == 0">    Clone   ({{selection.selected.length !=0 ? (selection.selected.length) : ''}})</button>
          <button type="button" class="btnCSS submitButton" (click)="deleteSelect('delete')" [disabled]="selection.selected.length == 0"> Delete ({{selection.selected.length !=0 ? (selection.selected.length) : ''}})</button>
          <button type="button" class="btnCSS submitButton" (click)="passCodeSelect()" [disabled]="selection.selected.length == 0"> PassCode ({{selection.selected.length !=0 ? (selection.selected.length) : ''}})</button>
          <button type="button" class="btnCSS submitButton" (click)="activateSelect()" [disabled]="selection.selected.length == 0"> Activate ({{selection.selected.length !=0 ? (selection.selected.length) : ''}})</button>
          <button type="button" class="btnCSS submitButton" (click)="terminate()" [disabled]="selection.selected.length == 0"> Terminate ({{selection.selected.length !=0 ? (selection.selected.length) : ''}})</button>
        </div>
      </div>
    </div>

<div class="example-container mat-elevation-z8" >

  <table  id= "enquiry-table" class="col-lg-12" mat-table [dataSource] = "dataSource" matSort>
    
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef="let row" style="padding-right: 0px !important;">
        <mat-checkbox (change)="$event ? masterToggle($event) : null"
        [checked]="selection.hasValue() && isEntirePageSelected()"
        [indeterminate]="selection.hasValue() && !isEntirePageSelected()"
        [aria-label]="checkboxLabel(row)"></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row" style="padding-right: 0px !important;">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>
    <!-- name -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Exam Name </th>
      <td mat-cell *matCellDef="let row" id="sName" title="{{row.name}}"> {{row.name}} </td>
    </ng-container>

    <!-- date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
      <td mat-cell *matCellDef="let row"> {{row.date |date}} </td>
    </ng-container>

    <!-- start_at Column -->
    <ng-container matColumnDef="examStartTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Start_at </th>
      <td mat-cell *matCellDef="let row"> {{row.examStartTime != '' ? (row.examStartTime  | date:'shortTime') : ''}} </td>
    </ng-container>

    <!-- end_at Column -->
    <ng-container matColumnDef="examEndTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>End_at </th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.examEndTime !='' ? (row.examEndTime | date:'shortTime') : ''}} </td>
    </ng-container>
   
    <!-- batch Column -->
    <ng-container matColumnDef="batch">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Batch </th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.batch}} </td>
    </ng-container>
   
    <!-- status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header  class="abc"> Status </th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color" class="cell"> {{row.status}} </td>
    </ng-container>

    
    <ng-container matColumnDef="action" >
      <th mat-header-cell *matHeaderCellDef id="action"> Actions </th>
      <td  mat-cell  *matCellDef="let row ; let index=index" [style.color]="row.color" style=" text-overflow: unset !important;white-space: normal !important"> 
        <i class="material-icons  ml-2" (click)="activate(row , index)" matTooltip="Activate" style="padding-left: 0px !important;  cursor: pointer;    " *ngIf="row.status == 'Inactive' || row.status == 'InActive' || row.status == 'Terminated'">touch_app</i>
        <i class="material-icons ml-2" (click)="results(row)" matTooltip="Result" style="padding-left: 0px !important;  cursor: pointer;" >autorenew</i>
        <i class="material-icons ml-2" (click)="eventAction(row, 'delete' ,index)" style="padding-left: 0px !important;  cursor: pointer;"  matTooltip="Delete"  matTooltipClass="tooltip">delete</i>
        <i class="material-icons ml-2" (click)="passCode(row)" matTooltip="PassCode" style="padding-left: 0px !important;  cursor: pointer;" >vpn_key</i>
        <i class="material-icons ml-2" (click)="visibility(row )" matTooltip="Hide" style="padding-left: 0px !important;  cursor: pointer;"  *ngIf="row.showResults == true">visibility</i>
        <i class="material-icons ml-2" (click)="visibility(row)" matTooltip="UnHide" style="padding-left: 0px !important;  cursor: pointer;"  *ngIf="row.showResults == false">visibility_off</i>
        <i class="material-icons ml-2" (click)="editData(row)" matTooltip="Edit" style="padding-left: 0px !important;  cursor: pointer;"  *ngIf="row.status == 'Inactive' || row.status == 'InActive' || row.status == 'Terminated'">create</i>
        <i class="material-icons ml-2" (click)="questionDownload(row)" matTooltip="Question Download" style="padding-left: 0px !important;  cursor: pointer;" >get_app</i>
     </td>
    </ng-container>
    
  
        
    <tr mat-header-row *matHeaderRowDef="displayedColumns ; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
    
  </table>
  
</div>
<div class="card-footer">
  <mat-paginator
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
</mat-paginator>
</div>

</div>


<ng-template #footerTemplate>
  <hr class="my-0">
  <button class="btnCSS submitButton btn-sm m-2 float-left" (click)="model = today;">Today</button>
  
</ng-template>

<ng-template #popTemplate>

  <timepicker  [(ngModel)]="time" (ngModelChange)="updateTime()" [showMeridian]="isMeridian">
  </timepicker>

  <div style="padding:5px">
    <span class="btn-group pull-left" style="margin-right:10px;">
            
            <button type=button class="btn btn-sm btn-info" [hidden]="!isDateVisible" (click)="now()">Now</button>
            <button type=button class="btn btn-sm btn-danger" (click)="Tclear()">Clear</button>
        </span>
    <span class="btn-group pull-right">
            
            <button type=button class="btn btn-sm btn-success" (click)="close()">Close</button>
        </span> <span class=clearfix></span>
  </div>
</ng-template>

<ng-template #popTemplate1>

  <timepicker [hidden]="!isDateVisible" [(ngModel)]="time2" (ngModelChange)="updateTime2()" [showMeridian]="isMeridian">
  </timepicker>

  <div style="padding:5px">
    <span class="btn-group pull-left" style="margin-right:10px;">
            
            <button type=button class="btn btn-sm btn-info" [hidden]="!isDateVisible" (click)="now2()">Now</button>
            <button type=button class="btn btn-sm btn-danger" (click)="Tclear2()">Clear</button>
        </span>
    <span class="btn-group pull-right">
            
            <button type=button class="btn btn-sm btn-success" (click)="close2()">Close</button>
        </span> <span class=clearfix></span>
  </div>
</ng-template>


<ng-template #content let-modal size='lg'>
  <div class="modal-header">
    <p class="modal-title fontHeader" id="modal-basic-title">Please Update The Below Data</p>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="row">
          <div class="col-lg-6 mt-3">
            <select class="form-control inputBox" name="selectBranch"  [(ngModel)]="selectBranch">
              <option [value]="a" disabled selected hidden>Select Branch</option>
              <option *ngFor="let k of batchDetail ; let i = index" [value]="k.batch ?k.batch.name : '' ">{{k.batch ? k.batch.name : ''}}</option>
          </select>
          </div>
          <div class="col-lg-6 mt-4">
            <div class="row">
              <div class="col-lg-10">
              
                  <input class="form-control inputBox" placeholder="Select Exam Date" [footerTemplate]="footerTemplate" 
                  name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker"  (click)="d.open()" [minDate]="today" autocomplete="off">
              </div>
              <div class="col-lg-2 text-left">
                <button class="btn btn-outline-secondary material-icons" (click)="d.toggle()" type="button">date_range</button>
              
              </div>
             
             
          </div>
          </div>
          <div class="col-lg-6 mt-3">
            <input type="text" class="form-control inputBox" placeholder="Exam Start Time *" [popover]="popTemplate" placement="bottom" [outsideClick]="true" #popoverRef="bs-popover"
           value="{{examStartTime |date :'hh:mm:ss a'}}" >
        
          </div>
          <div class="col-lg-6 mt-3">
            <input type="text" class="form-control inputBox" placeholder="Exam End Time *" [popover]="popTemplate1" placement="bottom" [outsideClick]="true" #popoverRef2="bs-popover"
            value="{{examEndTime |date :'hh:mm:ss a'}}" >
           
          </div>
          <div class="col-lg-6 mt-3">
            <input type="text" class="form-control inputBox" placeholder="Exam Name Prefix" [(ngModel)]="examName" name="examName" >
          </div>
          <div class="col-lg-6 mt-3"></div>
         </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btnCSS submitButton" data-dismiss="modal" (click)="saveChanges()">Save changes</button>
  </div>
</ng-template>
</div>


 
</div>








  
 




