<div class="main container p-0" style="background-color: transparent;" >
    
<div>
  <div class="container-fluid  mb-2 header" style="height: 50px;">
    <nav class="navbar navbar p-0">
        <a class="navbar-brand s1" style="padding-top: 15px; padding-bottom: 0px;">VIEW FEES DETAILS </a>
        
      </nav>
</div>


<div class="container-fluid s1">

  <div class="fontHeader p-0 pt-2">
    All Fees Details
  </div>
  <hr>
  
      <div class="row">
          <div class="col-md-4 col-sm-4">                
              <select (change)="selectChangeHandler($event)" class="form-control inputBox">
                  <option value="" disabled selected>Select Course</option>
                  <option  *ngFor="let res of results" value = {{res.id}}> {{res.name}}</option>
              </select>
          </div>

          <div class="col-md-4 col-sm-4">                
              <select (change)="selectBatch($event)" class="form-control inputBox" [(ngModel)]="batchName" name="batchName">
                  <option  [ngValue]="placeholder" disabled selected hidden>Select Batch</option>
                  <option *ngFor="let res_b of batch_result" value ={{res_b.id}} > {{res_b.name}} </option> 
              </select>
          </div>
          
          <div class="col-md-2 col-sm-2 headerTextWB pt-0">
              <div class="row">
                  <input type="checkbox" (change)="getPendingDetails()" class="custom-control-input" id="customCheckPending"  >
                  <label class="custom-control-label" for="customCheckPending">Pending</label>
              </div>
              <div class="row">
                  <input type="checkbox" (change)="getCompletedDetails()" class="custom-control-input" id="customCheckCompleted" name="example1">
                  <label class="custom-control-label" for="customCheckCompleted">Completed</label>
              </div>                     
          </div>

          <div class="col-md-2 col-sm-2 headerTextWB pt-0 ">
              <div class="row">
                  <input type="checkbox" (change)="getOnlineStatusDetails()" class="custom-control-input" id="customCheckOnline" name="example1">
                  <label class="custom-control-label" for="customCheckOnline">Online</label>
              </div>
              <div class="row">
                  <input type="checkbox" (change)="getOfflineStatusDetails()" class="custom-control-input" id="customCheckOffline" name="example1">
                  <label class="custom-control-label" for="customCheckOffline">Offline</label>
              </div>                     
          </div>

      </div>

      <div class="row search pt-0 ">
          <div class="col-md-4">                  
              <input class="inputBox" [(ngModel)]="searchStr" (ngModelChange)="modelChange($event)" placeholder="Name/Number/Father's Name/EmailId :">              
          </div>
      </div>
      
  
</div>

<div class="container-fluid mt-1 s1">
<div>
  <div class="row headerTextWB">
    <div class="form-group col-md-6">
        <span>Course Name : {{course_name}}</span>
    </div>
    <div class="form-group col-md-6">
        <span>Batch Name : {{batch_name}}</span>
    </div>
</div>
<div class="row headerTextWB">
    <div class="form-group col-md-6">
        <span>Course Fee : {{course_fee}}</span>
    </div>
    <div class="form-group col-md-6">
        <span>Total Student : {{totalStudent}}</span>
    </div>
</div>
<div class="row headerTextWB">
    <div class="form-group col-md-6">
        <span>Total Payable Amount : {{total_Ammount}}</span>
    </div>
    <div class="form-group col-md-6">
        <span>Total Due Amount : {{ total_Due}}</span>
    </div>
</div>
</div>
</div>
<div class="container-fluid fee-details p-0 mt-1">


  <div >

    <div class="col-lg-12 card">
        <mat-form-field class="search-form-field" floatLabel="never">
          <input  id="search" matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
          <mat-icon mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
            cancel</mat-icon>
        </mat-form-field>
        
        <!-- <a style="cursor: pointer" (click)="exportexcel()">
          <mat-icon> cloud_download</mat-icon>
        </a>
          </div> -->
        
        
        <div class="example-container mat-elevation-z8" >
          <table  id= "enquiry-table" class="col-lg-12" mat-table [dataSource] = "dataSource" matSort>
            
              <!-- srNO -->
          <ng-container matColumnDef="srNO">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sr_No </th>
            <td mat-cell *matCellDef="let row"> {{row.srNO}} </td>
          </ng-container>
      
          <!-- studentName Column -->
          <ng-container matColumnDef="studentName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Student Name </th>
            <td mat-cell *matCellDef="let row"> {{row.studentName}} </td>
          </ng-container>
      
          <!-- fatherName Column -->
          <ng-container matColumnDef="fatherName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Father Name </th>
            <td mat-cell *matCellDef="let row"> {{row.fatherName}} </td>
          </ng-container>
      
          <!-- mobile Column -->
          <ng-container matColumnDef="mobile">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Mobile </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.mobile}} </td>
          </ng-container>
         
          <!-- emailId Column -->
          <ng-container matColumnDef="emailId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;"> Email Id </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color" style="text-align: center;"> {{row.emailId}} </td>
          </ng-container>
         
          <!-- admission Column -->
          <ng-container matColumnDef="admission">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Admission </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.admission |date}} </td>
          </ng-container>
      
                <!-- paymentMethod Column -->
                <ng-container matColumnDef="paymentMethod">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment Method </th>
                  <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.paymentMethod}} </td>
                </ng-container>

                      <!-- status Column -->
          <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
              <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.status}} </td>
            </ng-container>

                  <!-- totalFee Column -->
          <ng-container matColumnDef="totalFee" class="text-center">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Actual Fee </th>
              <td mat-cell *matCellDef="let row" [style.color]="row.color" style="text-align: center;"> {{row.totalFee}} </td>
            </ng-container>

                  <!-- paid Column -->
          <ng-container matColumnDef="paid">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Paid </th>
              <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.paid}} </td>
            </ng-container>

                  <!-- due Column -->
          <ng-container matColumnDef="due">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Due </th>
              <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.due}} </td>
          </ng-container>
         
          
                
            <tr mat-header-row *matHeaderRowDef="displayedColumns ; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
            
          </table>
          
        </div>
        <div class="card-footer">
          <mat-paginator
                      [pageSize]="10"
                      [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
        </mat-paginator>
        </div>
        </div>


     
      
      </div>



  
</div>
</div>
  
  
  
  
  
  
  
</div>