th, td{
    border:1px solid #e9ecef;
    text-align: center;
}
.container{
    padding: 0px;
    margin-top: 20px;
}
input:hover{
    border-color:#007bff;
  }
  select:hover{
    border-color:#007bff;
  }
  textarea:hover{
    border-color: #007bff;
  }