
.carddialog{
    z-index: 5;
    position: absolute;
    /* height: 350px; */
    width: 300px;
    float: right;
    background-color: #fff;
    /* top: 50px; */
    right: 0;
}
mat-button-toggle-group{
  font-family: Open Sans, sans-serif;
  font-size: medium;
  font-weight: 500;
}

/* Table CSS */

.mat-elevation-z8 {
    box-shadow: none;
    z-index: 1;
  }


  th {
    padding: 1% 1%;
    /* padding-right: 1.75rem; */
    font-family: Open Sans, sans-serif;
    border: 1px solid #CEEBED;
    color: rgba(0, 0, 0, 0.54);
    max-width: 15px;
    vertical-align: middle !important;
    text-align: center !important;
    font-size: medium ;
    font-weight: bolder;
    max-height : 10px;
    overflow: hidden !important;
    padding-left: 10px !important;
  
    text-overflow: ellipsis !important; 
    white-space: nowrap !important; 
  
  }
  
  td{
        vertical-align: middle !important;
    text-align: center !important;
    /* padding: 1% 1%; */
    padding: 0.5% 0.5%;

    padding-right: 1.75rem;
    font-family: Open Sans, sans-serif;
    border: 1px solid #CEEBED;
    color: rgba(0, 0, 0, 0.54);
    max-width: 15px !important;
    vertical-align: middle;
    text-align: center;
  padding-left: 10px !important;
    
    font-size: small;
    max-height: 5px !important;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    
    text-overflow: ellipsis !important; 
    white-space: nowrap !important; 
  
  }

  
::ng-deep td.mat-cell {
  border-radius: .25rem;
  color: rgba(0, 0, 0, 0.54);
  padding-right: 1.75rem;
  font-family: Open Sans, sans-serif;
  vertical-align: middle;
  text-align: center;
  font-size: .9375rem;
  border: 1px solid #CEEBED;
}

::ng-deep tr.mat-row:hover {
  background-color: aliceblue;
}


::ng-deep .mat-sort-header-container {
  display: flex;
  
  justify-content: center;
}

.mat-row:nth-child(odd) {
  background-color: rgba(240, 248, 255, 0.89);
}